# Ignore the files inside the 'out' directory
out/

# Ignore the files inside the '.idea' directory
.idea/

# Ignore the files ending with .xml
*.xml

# Ignore the files ending with .gitignore
*.gitignore

# Ignore the files in 'target' directory
.target/
